/*
  Local font definition:
  Declared here for module independence, though the Main Shell already 
  provides this. Since the name 'Inter' matches, they will share 
  the same font resources.
*/

@font-face {
  font-family: 'Inter';

  font-style: normal;

  font-weight: 100 900;

  font-display: swap;

  src: url('/fonts/Inter-VariableFont.ttf') format('truetype');
}

*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

.plss-container {
  width: 100%;
}

@media (min-width: 640px) {
  .plss-container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .plss-container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .plss-container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .plss-container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .plss-container {
    max-width: 1536px;
  }
}

.plss-relative {
  position: relative;
}

.plss-mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.plss-mb-2 {
  margin-bottom: 0.5rem;
}

.plss-mb-3 {
  margin-bottom: 0.75rem;
}

.plss-mb-4 {
  margin-bottom: 1rem;
}

.plss-mb-6 {
  margin-bottom: 1.5rem;
}

.plss-mb-8 {
  margin-bottom: 2rem;
}

.plss-ml-2 {
  margin-left: 0.5rem;
}

.plss-ml-3 {
  margin-left: 0.75rem;
}

.plss-mt-1 {
  margin-top: 0.25rem;
}

.plss-mt-10 {
  margin-top: 2.5rem;
}

.plss-mt-4 {
  margin-top: 1rem;
}

.plss-mt-6 {
  margin-top: 1.5rem;
}

.plss-mt-8 {
  margin-top: 2rem;
}

.plss-block {
  display: block;
}

.plss-flex {
  display: flex;
}

.plss-grid {
  display: grid;
}

.plss-hidden {
  display: none;
}

.plss-h-12 {
  height: 3rem;
}

.plss-h-3 {
  height: 0.75rem;
}

.plss-h-5 {
  height: 1.25rem;
}

.plss-h-6 {
  height: 1.5rem;
}

.plss-w-12 {
  width: 3rem;
}

.plss-w-3 {
  width: 0.75rem;
}

.plss-w-5 {
  width: 1.25rem;
}

.plss-w-6 {
  width: 1.5rem;
}

.plss-w-full {
  width: 100%;
}

.plss-max-w-4xl {
  max-width: 56rem;
}

.plss-flex-shrink-0 {
  flex-shrink: 0;
}

.plss-cursor-pointer {
  cursor: pointer;
}

.plss-grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.plss-grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.plss-flex-col {
  flex-direction: column;
}

.plss-items-start {
  align-items: flex-start;
}

.plss-items-center {
  align-items: center;
}

.plss-justify-center {
  justify-content: center;
}

.plss-justify-between {
  justify-content: space-between;
}

.plss-gap-3 {
  gap: 0.75rem;
}

.plss-gap-4 {
  gap: 1rem;
}

.plss-gap-8 {
  gap: 2rem;
}

.plss-gap-x-4 {
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}

.plss-gap-y-4 {
  row-gap: 1rem;
}

.plss-space-x-2 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(0.5rem * var(--tw-space-x-reverse));
  margin-left: calc(0.5rem * calc(1 - var(--tw-space-x-reverse)));
}

.plss-space-y-3 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.75rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.75rem * var(--tw-space-y-reverse));
}

.plss-space-y-4 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1rem * var(--tw-space-y-reverse));
}

.plss-space-y-5 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1.25rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1.25rem * var(--tw-space-y-reverse));
}

.plss-space-y-6 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1.5rem * var(--tw-space-y-reverse));
}

.plss-space-y-8 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(2rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(2rem * var(--tw-space-y-reverse));
}

.plss-break-all {
  word-break: break-all;
}

.plss-rounded {
  border-radius: 0.25rem;
}

.plss-rounded-2xl {
  border-radius: 1rem;
}

.plss-rounded-full {
  border-radius: 9999px;
}

.plss-rounded-lg {
  border-radius: 0.5rem;
}

.plss-rounded-xl {
  border-radius: 0.75rem;
}

.plss-border {
  border-width: 1px;
}

.plss-border-2 {
  border-width: 2px;
}

.plss-border-l-4 {
  border-left-width: 4px;
}

.plss-border-t {
  border-top-width: 1px;
}

.plss-border-dashed {
  border-style: dashed;
}

.plss-border-amber-100 {
  --tw-border-opacity: 1;
  border-color: rgb(254 243 199 / var(--tw-border-opacity, 1));
}

.plss-border-amber-200 {
  --tw-border-opacity: 1;
  border-color: rgb(253 230 138 / var(--tw-border-opacity, 1));
}

.plss-border-blue-50 {
  --tw-border-opacity: 1;
  border-color: rgb(239 246 255 / var(--tw-border-opacity, 1));
}

.plss-border-blue-500 {
  --tw-border-opacity: 1;
  border-color: rgb(59 130 246 / var(--tw-border-opacity, 1));
}

.plss-border-gray-100 {
  --tw-border-opacity: 1;
  border-color: rgb(243 244 246 / var(--tw-border-opacity, 1));
}

.plss-border-gray-200 {
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity, 1));
}

.plss-border-gray-300 {
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity, 1));
}

.plss-border-indigo-50 {
  --tw-border-opacity: 1;
  border-color: rgb(238 242 255 / var(--tw-border-opacity, 1));
}

.plss-border-indigo-600 {
  --tw-border-opacity: 1;
  border-color: rgb(79 70 229 / var(--tw-border-opacity, 1));
}

.plss-border-red-500 {
  --tw-border-opacity: 1;
  border-color: rgb(239 68 68 / var(--tw-border-opacity, 1));
}

.plss-bg-amber-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(254 243 199 / var(--tw-bg-opacity, 1));
}

.plss-bg-amber-50 {
  --tw-bg-opacity: 1;
  background-color: rgb(255 251 235 / var(--tw-bg-opacity, 1));
}

.plss-bg-blue-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(59 130 246 / var(--tw-bg-opacity, 1));
}

.plss-bg-blue-600 {
  --tw-bg-opacity: 1;
  background-color: rgb(37 99 235 / var(--tw-bg-opacity, 1));
}

.plss-bg-gray-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity, 1));
}

.plss-bg-gray-50 {
  --tw-bg-opacity: 1;
  background-color: rgb(249 250 251 / var(--tw-bg-opacity, 1));
}

.plss-bg-gray-50\/50 {
  background-color: rgb(249 250 251 / 0.5);
}

.plss-bg-gray-800 {
  --tw-bg-opacity: 1;
  background-color: rgb(31 41 55 / var(--tw-bg-opacity, 1));
}

.plss-bg-green-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(220 252 231 / var(--tw-bg-opacity, 1));
}

.plss-bg-indigo-600 {
  --tw-bg-opacity: 1;
  background-color: rgb(79 70 229 / var(--tw-bg-opacity, 1));
}

.plss-bg-red-50 {
  --tw-bg-opacity: 1;
  background-color: rgb(254 242 242 / var(--tw-bg-opacity, 1));
}

.plss-bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

.plss-p-2 {
  padding: 0.5rem;
}

.plss-p-2\.5 {
  padding: 0.625rem;
}

.plss-p-3 {
  padding: 0.75rem;
}

.plss-p-4 {
  padding: 1rem;
}

.plss-p-5 {
  padding: 1.25rem;
}

.plss-p-6 {
  padding: 1.5rem;
}

.plss-p-8 {
  padding: 2rem;
}

.plss-px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.plss-px-8 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.plss-py-1\.5 {
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
}

.plss-py-12 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.plss-py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.plss-py-2\.5 {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}

.plss-py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.plss-pt-8 {
  padding-top: 2rem;
}

.plss-text-center {
  text-align: center;
}

.plss-font-mono {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.plss-text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.plss-text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.plss-text-\[10px\] {
  font-size: 10px;
}

.plss-text-\[11px\] {
  font-size: 11px;
}

.plss-text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.plss-text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}

.plss-font-black {
  font-weight: 900;
}

.plss-font-bold {
  font-weight: 700;
}

.plss-font-extrabold {
  font-weight: 800;
}

.plss-font-medium {
  font-weight: 500;
}

.plss-font-semibold {
  font-weight: 600;
}

.plss-uppercase {
  text-transform: uppercase;
}

.plss-leading-relaxed {
  line-height: 1.625;
}

.plss-tracking-tighter {
  letter-spacing: -0.05em;
}

.plss-tracking-wider {
  letter-spacing: 0.05em;
}

.plss-tracking-widest {
  letter-spacing: 0.1em;
}

.plss-text-amber-600 {
  --tw-text-opacity: 1;
  color: rgb(217 119 6 / var(--tw-text-opacity, 1));
}

.plss-text-amber-700 {
  --tw-text-opacity: 1;
  color: rgb(180 83 9 / var(--tw-text-opacity, 1));
}

.plss-text-amber-800 {
  --tw-text-opacity: 1;
  color: rgb(146 64 14 / var(--tw-text-opacity, 1));
}

.plss-text-amber-900 {
  --tw-text-opacity: 1;
  color: rgb(120 53 15 / var(--tw-text-opacity, 1));
}

.plss-text-blue-600 {
  --tw-text-opacity: 1;
  color: rgb(37 99 235 / var(--tw-text-opacity, 1));
}

.plss-text-blue-700 {
  --tw-text-opacity: 1;
  color: rgb(29 78 216 / var(--tw-text-opacity, 1));
}

.plss-text-gray-300 {
  --tw-text-opacity: 1;
  color: rgb(209 213 219 / var(--tw-text-opacity, 1));
}

.plss-text-gray-400 {
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity, 1));
}

.plss-text-gray-500 {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity, 1));
}

.plss-text-gray-700 {
  --tw-text-opacity: 1;
  color: rgb(55 65 81 / var(--tw-text-opacity, 1));
}

.plss-text-gray-900 {
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity, 1));
}

.plss-text-green-600 {
  --tw-text-opacity: 1;
  color: rgb(22 163 74 / var(--tw-text-opacity, 1));
}

.plss-text-green-700 {
  --tw-text-opacity: 1;
  color: rgb(21 128 61 / var(--tw-text-opacity, 1));
}

.plss-text-indigo-800 {
  --tw-text-opacity: 1;
  color: rgb(55 48 163 / var(--tw-text-opacity, 1));
}

.plss-text-red-400 {
  --tw-text-opacity: 1;
  color: rgb(248 113 113 / var(--tw-text-opacity, 1));
}

.plss-text-red-600 {
  --tw-text-opacity: 1;
  color: rgb(220 38 38 / var(--tw-text-opacity, 1));
}

.plss-text-red-700 {
  --tw-text-opacity: 1;
  color: rgb(185 28 28 / var(--tw-text-opacity, 1));
}

.plss-text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.plss-opacity-60 {
  opacity: 0.6;
}

.plss-shadow-inner {
  --tw-shadow: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);
  --tw-shadow-colored: inset 0 2px 4px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.plss-shadow-lg {
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.plss-shadow-md {
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.plss-shadow-sm {
  --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.plss-transition {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.plss-transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.hover\:plss-bg-amber-100:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(254 243 199 / var(--tw-bg-opacity, 1));
}

.hover\:plss-bg-blue-700:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(29 78 216 / var(--tw-bg-opacity, 1));
}

.hover\:plss-bg-gray-200:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity, 1));
}

.hover\:plss-bg-gray-900:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(17 24 39 / var(--tw-bg-opacity, 1));
}

.hover\:plss-opacity-100:hover {
  opacity: 1;
}

.active\:plss-scale-95:active {
  --tw-scale-x: .95;
  --tw-scale-y: .95;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

@media (min-width: 768px) {
  .md\:plss-grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {
  .lg\:plss-grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
